.specifications
	.container.specifications__container
		.specifications__info.anim
			h2.specifications__title.anim режимы
			p.specifications__desc.anim
				| Помимо «умной» подсветки #[strong Hovertrax 4.0] снабжён двумя скоростными режимами.

			ul.specifications__list.list.anim
				li.list__item
					.list__item-marker
					p.list__item-text Один для продвинутых пользователей
				li.list__item
					.list__item-marker
					p.list__item-text Второй для новичков

			.specifications__important.important.anim
				.important__item
					h3.important__accent 13#[small км/ч]
					p.important__text Максимальная скорость
				.important__item
					h3.important__accent 2
					p.important__text Скоростных режима

	.specifications__img.anim <!-- empty -->