.for-whom.anim
	.container.for-whom__container
		.for-whom__info
			h3.for-whom__tagline.anim для кого
			.for-whom__desc.anim
				p При максимально выдерживаемой нагрузке в 100 кг отлично подойдёт, как для подрастающего поколения, так и для более взрослых «наездников».
				p Это единственный гироскутер со специальным детским режимом езды.

			a.for-whom__button.anim(data-anim-quota=0)
				| перейти в каталог

	.for-whom__img.anim <!-- empty -->
