header.header
	.container.header__container
		a.header__logo(href="#intro")
			img(src="assets/img/logo.png" alt="logo")

		nav.header__nav(style="--mask-pos-x: 0")
			// Hide menu
			button.header__nav-toggle.header__nav-toggle--cross
				include:inlineSvg ../../assets/svg/cross.svg

			each item, index in GLOB_HEADER_LINKS
				a.header__nav-item(href=item.link)= item.title

		// Show menu
		button.header__nav-toggle.header__nav-toggle--menu
			include:inlineSvg ../../assets/svg/menu.svg