.intro
	.container.intro__container
		.intro__anotation
			.intro__title.anim.anim-in-start(data-anim-delay=200)

				button.intro__play
					include:inlineSvgStage0 ../../assets/svg/play.svg
					.intro__play-line

				h1.free-letters
					.free-letters__row Rizor
					.free-letters__row Hovertrax
					.free-letters__row 4.0

			h3.intro__tagline.anim.anim-in-start(data-anim-delay=300)
				| Маневренность, легкость, экологичность

			button.intro__arrow.anim.anim-in-start(data-anim-delay=450)

	.intro__img.anim.anim-in-start <!-- empty -->